/* Designed by Luizsan */
.nav-toggle {
	font-size: 1.75em;
}

.nav {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;

	row-gap: 1rem;

	background: rgba(20, 22, 29, 0.5);
	backdrop-filter: blur(12px) saturate(1.5);
	-webkit-backdrop-filter: blur(12px) saturate(1.5);
	-moz-backdrop-filter: blur(12px) saturate(1.5);
}

[id="nav-toggle"]:checked ~ .nav > .nav-toggle {
	/* top: unset; */
}

body {
	/*font-family:  "Segoe UI", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;*/
	scrollbar-color: gray #10101000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
}

::-webkit-scrollbar-track {
	background-color: #101010;
}

#master_settings::-webkit-scrollbar-track {
	background-color: #10101000 !important;
}

.popup_large {
	scrollbar-color: gray #10101000;
}

::-webkit-scrollbar-thumb {
	background: gray;
}

#chat {
	scrollbar-width: thin;
	/* width: 900px; */
	/* height: 80%; */
	overflow: hidden;
	overflow-y: auto;
	/* white-space:nowrap; */
	/* margin-left: 30%; Отступ слева */
	/* width: 40%; Ширина слоя */
	padding: 1rem;
}

#chat_header {
	background: #10101090;

	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.07);
}

#chat_header_back_button svg {
	height: 22px;
	width: 22px;
}

#rm_button_import {
	cursor: pointer;
	display: inline-block;
}

#form_shell {
	box-shadow: unset;
	background: unset;
}

#send_form {
	box-sizing: border-box;
}

#send_textarea {
	/* --autoresize: false; */
	/* background-color: #16161680; */
	font-size: 14px;
	margin: 0px;
	border-radius: 0.5rem;
}

#send_button {
	/* background-size: 20px auto; */
}

#options_button {
	height: 100%;
	border-radius: 0.5rem;
}

#options {
	border-radius: 0.5rem;
	opacity: 0;
	display: none;
	/* position: relative; */
	position: absolute;
	/* background-color: blue; */
	z-index: 1990;
}

.options-content {
	background: rgba(20, 22, 29, 0.5);
	backdrop-filter: blur(12px) saturate(1.5);
	-webkit-backdrop-filter: blur(12px) saturate(1.5);
	-moz-backdrop-filter: blur(12px) saturate(1.5);

	border: 1px solid rgba(255, 255, 255, 0.3);
}

.options-content hr {
	/* margin: 4px; */
}

.options-content button {
	color: #ffffff80;
	cursor: pointer;
}

.options-content button:hover {
	background: rgba(55, 67, 102, 0.5);
	backdrop-filter: blur(12px) saturate(1.5);
	-webkit-backdrop-filter: blur(12px) saturate(1.5);
	-moz-backdrop-filter: blur(12px) saturate(1.5);

	color: #ffffff;
}

.mes {
	border: 1px solid #ffffff10;
	box-shadow: unset;
	vertical-align: top;

	width: 100%;
	background: #10101090;

	font-size: 0.95em;
}

.last_mes .mes_text {
	min-height: 65px;
}

.avatar {
	padding: unset;
	border-style: none;
	padding: 0.5rem;
	aspect-ratio: 1 / 1;
}

.avatar img {
	border-radius: 0.5rem;
	object-position: center top;
	object-fit: cover;
}

textarea,
.text_pole {
	font-size: 14px;
	background-color: #13152c;
	box-shadow: 0 0 2px rgba(200, 200, 200, 0.5);
	border: 0px solid grey;
	/*font-family: "Segoe UI", "Source Sans Pro", -apple-system, BlinkMacSystemFont,  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;*/
}

textarea {
	width: 100%;
	height: 400px;
	resize: none;
	display: block;
	outline: none !important;
	padding: 10px;
	color: #cacaca;
}

.edit_textarea {
	font-weight: 500;
	font-size: 1em;
}

.right_menu_title_button {
	display: inline-block;

	vertical-align: middle;
	text-align: center;

	background-color: #131313;
	border: thin solid rgba(200, 200, 200, 0.2);
}

#rm_button_create h2 {
	font-size: 20px;
	vertical-align: middle;
}

.character_select {
	padding: 0px;
	border-radius: 6px;
	cursor: pointer;
	display: grid;
	grid-template-columns: 48px auto;
	padding: 1px;
}

.character_select .avatar {
	width: 48px;
	height: 48px;
}

#main_api {
	background-color: #181717;
}

textarea,
.text_pole {
	background-color: #16161680;
}

input[type="submit"],
input[type="button"] {
	background-color: #16161680;
}

#character_advanced_button,
#master_settings_button {
	background-color: #16161680;
}

input::file-selector-button {
	background-color: #16161680;
}

#avatar_div {
	margin-top: 0px;
}

#avatar_div_container {
}

#add_avatar_button {
	margin-top: 43px;
}

.ch_name_menu {
	margin: auto 6px;
}

#online_status {
}

#online_status_indicator {
}

#online_status_text {
	/* margin-left: 8px; */
}

.del_checkbox {
	/* margin: 8px; */
}

.mes_edit_done img {
	width: 20px;
	height: 20px;
}

.mes_edit_cancel img {
	width: 20px;
	height: 20px;
}

.popup_large {
	background: rgba(26, 24, 25, 0.98);
}

.menu_select {
	background-color: #181717;
}

label.checkbox span {
	background: #181717;
}

label.checkbox :checked + span {
	background: #181717;
}
/*searchbox*/
#search_bar {
	background-color: #181717;
}
#search_bar::placeholder {
	color: white;
}

.name_select {
	background-color: rgba(36, 36, 37, 0);
	width: min-content;
	border-color: #ffffff00;
	box-shadow: 0 0 2px rgba(200, 200, 200, 0);
	border-bottom: 1px dashed rgba(255, 255, 255, 0.12);
	background-color: #16161680;
}

.modular .container {
	background: rgba(26, 24, 25, 0.95);
}

#notes_popup textarea {
	background-color: #161616dd;
}

#notes_popup div.wpp-editor {
	background-color: #161616dd;
}

#characters_rooms_switch_button {
	background-color: #131313;
}

#world_info_settings input {
	background-color: #181717;
}

.world_info .content {
	background-color: #16161680;
}

@media screen and (max-width: 450px) {
	.mes {
		padding: 0.5rem 0.25rem;
		position: relative;
		row-gap: 0;
		gap: 0.25rem;

		font-size: small;

		grid-template-columns: 30px auto 30px;
		grid-template-rows: 60px 20px min-content;
	}

	.mes > .for_checkbox {
		grid-row-start: 1;
		grid-column-start: 1;
	}

	.mes > .avatar {
		grid-row-start: 1;
		grid-column-start: 2;

		padding: 0.25rem;

		height: 100%;
		width: auto;
	}

	.mes > .mes_block {
		padding: 0;
	}

	.mes > .avatar img {
		border-radius: 9999px;
	}

	.mes > .del_checkbox {
		grid-row-start: 1;
		grid-column-start: 2;

		place-self: end;
		align-self: center;
	}

	.mes > .mes_block {
		grid-row-start: 2;
		grid-row-end: 4;

		grid-column-start: 2;
		grid-column-end: 3;
	}

	.mes .mes_text p {
		margin-bottom: 4px;
	}

	.ch_name {
		padding: 0.5rem 0.25rem;
	}

	.mes_text {
		padding: 0px 0.25rem;
	}

	.mes .mes_index {
		grid-row-start: 1;
		grid-column-start: 2;

		justify-self: center;
		align-self: start;
	}

	.mes .token_counter {
		width: 50px;
		padding: 0px 0.5rem;
		opacity: 0.75;

		align-self: flex-end;
		justify-self: end;

		grid-row-start: 2;
		grid-column-start: 2;
	}

	.mes .mes_edit {
		grid-row-start: 1;
		grid-column-start: 2;

		place-self: end;
		align-self: center;
	}

	.mes .edit_block {
		grid-row-start: 1;
		grid-column-start: 2;
		grid-column-end: 3;

		place-self: end;
		align-self: center;
	}

	.swipe_left,
	.swipe_right {
		grid-row-start: 1;
		grid-row-end: 4;
	}

	.swipe_left {
		grid-column-start: 1;
		opacity: 0.75;
	}

	.swipe_right {
		grid-column-start: 3;
		opacity: 0.75;
	}

	#shell {
		grid-template-rows: 40px auto max-content;
	}

	#chat {
		padding: 0.5rem 0.5rem;
	}

	#status {
		padding: 0rem 0rem 0.5rem 0rem;
	}

	#form_shell {
		padding: 0.5rem;
	}

	#send_textarea {
		--autoresize: false;
		padding: 0.5rem;
	}

	#send_form_container {
		height: 70px;
		min-height: unset;

		grid-template-columns: 40px 1fr 40px;
	}

	#chat_header {
		padding: 0.25rem 0.5rem;
	}

	[id="nav-toggle"]:checked ~ .nav > .nav-toggle {
		right: 1rem;
	}
}
